body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #007bff; /* Зеленый цвет */
    color: white;
    padding: 10px 0;
    text-align: center;
}
header a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s; /* Анимация при наведении */
}
header a:hover {
    background-color: #175699; /* Цвет фона при наведении */
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
